@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

/* Делал на 1920:1080 */
/* 1500: 960 макет */
html {
    font-size: 16px;
    --color-white: white;
    --color-black: black;
    --color-grey: #CCCCCC;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Space Grotesk';
    background-repeat: no-repeat;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    height: 100vh;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
}

.main_box {
    width: 75%;
    margin:9.5% auto 14%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    box-sizing:border-box;

}

.main_left{
    width:56%;
    padding: 0.75rem 2rem;
    color: var(--color-black);
    background-image: url('../img/Stroke\ 5.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 0%;
    background-position-y: 0%;


}

.main_left_title p{
    font-weight: 700;
    font-size: 1.5rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

}
.main_left_form {
    margin: 7% auto;
}
.main_left_form_title {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.25rem ;
}
.main_left_form {
    width:65%;
    margin: 5% auto;
}
.form_unit {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.625rem;

}
.form_unit p{
    font-size: 0.625rem;
    color: var(--color-grey);
}
input::placeholder {
    color: var(--color-grey);
}
.form_unit span{   
    font-size: 0.75rem;
    color: #A8A8A8;
}
.form_unit label{
    font-weight: 400;
    padding-bottom: 0.25rem;
}
.form_unit input {
    background-color: transparent;
    border: 1px solid var(--color-grey);
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    padding: 0.125rem;
    font-size: 0.75rem;
}
.form_unit select{
    background-color: transparent;
    border: 1px solid var(--color-grey);
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    padding: 0.125rem;
    font-size: 0.75rem;
    color: #A8A8A8;
}
.other_options , .first_option  {
    background-color: transparent;
    border: 1px solid var(--color-grey);
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    padding: 0.125rem;
    font-size: 0.75rem;
    color: var(--color-black);
}
.first_option {
    color: #A8A8A8;    
}
.submit_button input{
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    color: var(--color-white);
    width: 100%;
    padding: 0.5rem 0;
    font-weight: 700;
}
.submit_button {
    width: 100%;
    margin: 20% auto 2%;
}
.bottom_caption {
    margin: 1rem auto 0 ;
    text-align: center;
    font-weight: 700;
}
.bottom_caption span{
    color:#C4C4C4;
    padding-right: 0.5rem;
}
.bottom_caption a{
    color:#476D73;
    text-decoration: underline;    
}

.main_right {
    margin: 5px;
    width: 44%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-white);
    padding: 0.75rem 2rem;
    box-sizing:border-box;
}
.right_nav {
    text-align: right;
}
.right_nav > nav > a{
    color: var(--color-white);
}
.right_nav > nav > a:first-child{
    padding-right: 1rem;
}
.right_text {
    width: 80%;
    height: 96%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
}
.right_text span {
    font-size: 1rem;
}